@model RecApp_2.Models.PaymentDetails

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PaymentDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAbono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAbono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
