@model RecApp_2.Models.ApplicationUser
@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container col-md-12 center-block">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>Detalle de usuario</h2>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    Nombre de usuario
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                @*<dt>
                    Rol
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RoleId)
                </dd>*@

            </dl>
        </div>
        <div class="panel-footer">
            <p>
               @Html.ActionLink("Volver al listado", "MantUsuarios", null, new { @class = "btn btn-primary " })
        </div>
    </div>
    </div>