@model RecApp_2.Models.ApplicationUser

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title" id="myModalLabel">Detalle de usuario</h4>
</div>

<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
       
        <dt>
           Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
          
        <dt>
           Cantidad de accesos fallidos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>

        <dt>
          Nombre de usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-info" data-dismiss="modal">Continuar</button>
</div>