@model IEnumerable<RecApp_2.Models.ApplicationUser>

@{
    ViewBag.Title = "MantUsuarios";
    //Layout = "~/Views/_ViewStart.cshtml";
}

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<br />
<div class="panel panel-primary">
    <div class="panel-heading"><h3>Mantenimiento de Usuarios</h3></div>

    <div class="panel-body ">
        <p>
            <a class="btn btn-success glyphicon-plus" href='@Url.Action("RedirectNewUser", "Manage")'>
                Nuevo usuario
            </a>
            <br />
            <div class="table-responsive">
                <table class="table table-responsive table-bordered">
                    <tr>
                        <th>
                            Email
                        </th>
                        <th>
                            Nombre de usuario
                        </th>
                        <th>
                            Correo confirmado
                        </th>
                        <th>
                            Número de teléfono
                        </th>

                        <th>
                            Accesos fallidos
                        </th>

                        <th>Acciones</th>
                    </tr>

                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmailConfirmed)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccessFailedCount)
                            </td>

                            <td>
                                @Html.ActionLink("Editar ", "Edit", new { id = item.Id }, new { data_modal = "", @class = "btn btn-warning glyphicon glyphicon-edit" })
                                @Html.ActionLink("Detalles ", "Details", new { id = item.Id }, new { data_modal = "", @class = "btn btn-info glyphicon glyphicon-th-list" })
                                @Html.ActionLink("Inactivar ", "Delete", new { id = item.Id }, new { data_modal = "", @class = "btn btn-danger glyphicon glyphicon-ban-circle" })
                            </td>
                        </tr>
                    }

                </table>

            </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
}