@model RecApp_2.Models.Record

@{
    ViewBag.Title = "Especialidades Odontológicas | Expediente Clínico";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script>
        date = new Date();
        anyo = date.getFullYear();
        day = date.getDate();
        month = date.getMonth() + 1;
        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;
        today = anyo.toString() + "-" + month.toString() + "-" + day.toString();
        $(document).ready(function () {
            $("id_nacimiento").attr({
                "max": today,
                "min": "2016-08-06"
            });
        });
    </script>
    <meta charset="UTF-8">
    <title>Especialidades Odontológicas | Expediente Clínico</title>
    <meta name="description" content="Especialista Dental" />
    <meta name="keywords" content="Dentista, Heredia, Odontologa, Especialidades, Especialista" />
    <!-- Main style -->
    <link rel="stylesheet" href="/css/custom-styles.css">
    <!-- Normalize -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <!-- Owl -->
    <link rel="stylesheet" type="text/css" href="/css/owl.css">
    <!-- Animate.css -->
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.1.0/css/font-awesome.min.css">
    <!-- Elegant Icons -->
    <link rel="stylesheet" type="text/css" href="/fonts/eleganticons/et-icons.css">
    <link href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
    <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="shortcut icon" href="/img/favicons/favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $( document ).ready(function() {
            $('#id_nacimiento').datepicker();
        });
    </script> -->
    <!--funcion javascript para mostrar encargado -->
    <script type="text/javascript">
        function mostrarEncargado() {
            //Si la opcion con id Conocido_1 (dentro del documento > formulario con name fcontacto >     y a la vez dentro del array de Conocido) esta activada
            if ((document.getElementById('id_slide')).checked) {
                //muestra (cambiando la propiedad display del estilo) el div con id 'desdeotro'
                document.getElementById('encargado').style.display = 'block';
                //por el contrario, si no esta seleccionada
            } else {
                //oculta el div con id 'desdeotro'
                document.getElementById('encargado').style.display = 'none';
            }
        }
    </script>
</head>
<header id="intro">
    <div class='form-background'>
        <a><img src="/img/logos/Logo_Hilda_Vilchez_260x110.png"></a>
    </div>
</header>
<h2>Agregar Expediente</h2>
   <body>
    <!--<div class='form-background'> -->
     <!--<div class='container'>  -->
       <div class="form-table">
           <div class='panel-heading'>
               <h3 class="text-center white">Ficha Clínica</h3>
           </div>
           <div class='panel-body'>
               <form class='form-horizontal' role='form' name='formulario'>
                   <div class="form-group">
                       @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2 col-md-offset-2" })
                       <div class='col-md-8'>
                           <div class='col-md-3 indent-small'>
                               <div class='form-group internal input-group'>
                                   <span class='input-group-addon'>
                                       <i class='glyphicon glyphicon-user'></i>
                                   </span>
                                   @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre" } })
                                   @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                               </div>
                           </div>
                           <div class='col-md-3 indent-small'>
                               <div class='form-group internal'>
                                   @Html.EditorFor(model => model.Apellido1, new { htmlAttributes = new { @class = "form-control" , @placeholder = "1er Apellido" } })
                                   @Html.ValidationMessageFor(model => model.Apellido1, "", new { @class = "text-danger" })
                               </div>
                           </div>
                           <div class='col-md-3 indent-small'>
                               <div class='form-group internal'>
                                   @Html.EditorFor(model => model.Apellido2, new { htmlAttributes = new { @class = "form-control", @placeholder = "2do Apellido" } })
                                   @Html.ValidationMessageFor(model => model.Apellido2, "", new { @class = "text-danger" })
                               </div>
                           </div>
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2 col-md-offset-2" })
                       <div class='col-md-6'>
                           <div class='col-md-11'>
                               <div class='form-group internal input-group'>
                                   <span class='input-group-addon'>
                                       <i class='glyphicon glyphicon-pencil'></i>
                                   </span>
                                   @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control" } })
                                   @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                               </div>
                           </div>
                       </div>
                   </div>


                   <div class="form-group">
                       @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2 col-md-offset-2" })
                       <div class='col-md-8'>
                           <div class='col-md-3'>
                               <div class='form-group internal input-group'>
                                   <span class='input-group-addon'>
                                       <i class='glyphicon glyphicon-calendar'></i>
                                   </span>
                                   @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                                   @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                               </div>
                           </div>
                       </div>
                   </div>
                   <!--
        <div class="form-group">
            @Html.LabelFor(model => model.Edad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Edad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Edad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MenorEdad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MenorEdad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MenorEdad, "", new { @class = "text-danger" })
            </div>
        </div>
            -->

                   <div class="form-group">
                       @Html.LabelFor(model => model.NombreEncargado, htmlAttributes: new { @class = "control-label col-md-2 col-md-offset-2" })
                       <div class='col-md-8'>
                           <div class='col-md-3 indent-small'>
                               <div class='form-group internal input-group'>
                                   <span class='input-group-addon'>
                                       <i class='glyphicon glyphicon-user'></i>
                                   </span>
                                   @Html.EditorFor(model => model.NombreEncargado, new { htmlAttributes = new { @class = "form-control" } })
                                   @Html.ValidationMessageFor(model => model.NombreEncargado, "", new { @class = "text-danger" })
                               </div>
                           </div>
                           <div class='col-md-3 indent-small'>
                               <div class='form-group internal'>
                                   @Html.EditorFor(model => model.Apellido1Encargado, new { htmlAttributes = new { @class = "form-control" } })
                                   @Html.ValidationMessageFor(model => model.Apellido1Encargado, "", new { @class = "text-danger" })
                               </div>
                           </div>
                           <div class='col-md-3 indent-small'>
                               <div class='form-group internal'>
                                   @Html.EditorFor(model => model.Apellido2Encargado, new { htmlAttributes = new { @class = "form-control" } })
                                   @Html.ValidationMessageFor(model => model.Apellido2Encargado, "", new { @class = "text-danger" })
                               </div>
                           </div>
                       </div>
                   </div>


                   <div class="form-group">
                       @Html.LabelFor(model => model.IdEstadoCivil, htmlAttributes: new { @class = "control-label col-md-2 col-md-offset-2" })
                       <div class='col-md-8'>
                           <div class='col-md-3'>
                               <div class='form-group internal'>
                                   @Html.EditorFor(model => model.IdEstadoCivil, new { htmlAttributes = new { @class = "form-control" } })
                                 <!--PRUEBA PARA DROP DOWN LIST-->
                                    @*@Html.DropDownList("IdEstadoCivil",null, htmlAttributes: new { @class = "form-control" }) *@   
                                   @Html.ValidationMessageFor(model => model.IdEstadoCivil, "", new { @class = "text-danger" })
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="form-group">
                       @Html.LabelFor(model => model.Domicilio, htmlAttributes: new { @class = "control-label col-md-2 col-md-offset-2" })
                       <div class='col-md-6'>
                           <span class='input-group-addon'>
                               <i class='glyphicon glyphicon-home'></i>
                           </span>
                           @Html.EditorFor(model => model.Domicilio, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Domicilio, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.Telefono1, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Telefono1, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Telefono1, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.Telefono2, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Telefono2, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Telefono2, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.Profesion, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Profesion, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Profesion, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.ContactoEmergencia, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.ContactoEmergencia, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.ContactoEmergencia, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.TratamientoMedico, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.TratamientoMedico, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.TratamientoMedico, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.Medicamento, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Medicamento, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Medicamento, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.Diabetes, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Diabetes, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Diabetes, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.Artritis, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Artritis, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Artritis, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.EnfermedadCardiaca, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.EnfermedadCardiaca, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.EnfermedadCardiaca, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.Hepatitis, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Hepatitis, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Hepatitis, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.FiebreReumatica, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.FiebreReumatica, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.FiebreReumatica, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.Ulcera, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Ulcera, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Ulcera, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.PresionAlta, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.PresionAlta, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.PresionAlta, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.PresionBaja, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.PresionBaja, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.PresionBaja, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.EnfermedadesNerviosas, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.EnfermedadesNerviosas, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.EnfermedadesNerviosas, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.OtrasEnfermedades, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.OtrasEnfermedades, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.OtrasEnfermedades, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.SangradoProlongado, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.SangradoProlongado, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.SangradoProlongado, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.Desmayos, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Desmayos, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Desmayos, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.IntervencionQuirurgica, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.IntervencionQuirurgica, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.IntervencionQuirurgica, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.Aspirina, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Aspirina, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Aspirina, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.Sulfas, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Sulfas, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Sulfas, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.Penicilina, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Penicilina, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Penicilina, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.Otros, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Otros, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Otros, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.AnomaliasAnestesia, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.AnomaliasAnestesia, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.AnomaliasAnestesia, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.Embarazo, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Embarazo, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Embarazo, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       @Html.LabelFor(model => model.Lactancia, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                           @Html.EditorFor(model => model.Lactancia, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Lactancia, "", new { @class = "text-danger" })
                       </div>
                   </div>

                   <div class="form-group">
                       <div class="col-md-offset-2 col-md-10">
                           <input type="submit" value="Create" class="btn btn-default" />
                       </div>
                   </div>
               </form>
       </div>
        </div>
       <!--</div> -->
    <!--</div> -->
       <!--
    <footer class="footer-estilo">
        <div class="container">
            <div class="bottom-footer-form">
                <div class="col-sm-8">
                    <p class="white">
                        &copy;
                        <script>
                            document.write(anyo);
                        </script> Todos los Derechos Reservados. Implementado por <a href="#">Andres & Gabriel</a>
                    </p>
                </div>
                <div class="col-sm-4 text-right text-center-mobile">
                    <ul class="social-footer">
                        <li><a target="_blank" href="https://www.facebook.com/Especialidades.Odontologicas.01"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" href=""><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer> -->

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>