@model RecApp_2.Models.Record

@{
    ViewBag.Title = "Especialidades Odontológicas | Detalle de Expediente Clínico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-md-12 center-block">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>Detalle del expediente @Html.DisplayFor(model => model.Cedula) </h2>
        </div>
        <div class="panel-body">
            <hr />
            <div class="row">
                <div class="col-md-5">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object dp img-circle" src="~/Images/MedicalRecords.png" style="width: 100px;height:100px;">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                @Html.DisplayFor(model => model.Nombre)
                                @Html.DisplayFor(model => model.Apellido1)
                                @Html.DisplayFor(model => model.Apellido2)
                            </h4>
                            <h4>Cédula: @Html.DisplayFor(model => model.Cedula) </h4>
                            <hr style="margin:8px auto">

                            <span class="label label-info">Correo electrónico: @Html.DisplayFor(model => model.Email)</span>
                            <span class="label label-default">@Html.DisplayNameFor(model => model.Telefono1): @Html.DisplayFor(model => model.Telefono1)</span>
                            <span class="label label-default">@Html.DisplayNameFor(model => model.Telefono2): @Html.DisplayFor(model => model.Telefono2)</span>
                            <span class="label label-default">@Html.DisplayNameFor(model => model.FechaNacimiento):  @Html.DisplayFor(model => model.FechaNacimiento)</span>
                            <span class="label label-default">@Html.DisplayNameFor(model => model.Edad): @Html.DisplayFor(model => model.Edad)</span>
                        </div>
                    </div>

                </div>
                <div class="col-md-7">
                    <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab2default" data-toggle="tab">Datos Personales</a></li>
                                @if (Model.Edad < 18)
                                {
                                    <li><a href="#tab1default" data-toggle="tab">Datos del Encargado</a></li>
                                }                                
                                <li><a href="#tab4default" data-toggle="tab">Condición Médica</a></li>

                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                @if (Model.Edad < 18)
                                {
                                    <div class="tab-pane fade" id="tab1default">

                                        <h3> </h3>
                                        <label>
                                            @Html.DisplayNameFor(model => model.NombreEncargado)
                                        </label>
                                        @Html.DisplayFor(model => model.NombreEncargado) @Html.DisplayFor(model => model.Apellido1Encargado) @Html.DisplayFor(model => model.Apellido2Encargado)
                                        <br />

                                    </div>
                                }
                                <div class="tab-pane active" id="tab2default">
                                    <div class="col-md-6">
                                        <h3> </h3>
                                        @if (Model.Edad < 18)
                                        {
                                            <label>
                                                @Html.DisplayNameFor(model => model.MenorEdad)
                                            </label>
                                            <br />
                                        }
                                        <label>
                                            @Html.DisplayNameFor(model => model.IdEstadoCivil)
                                        </label>

                                               @ViewBag.CivilStatus
                                        <br />
                                        <label>
                                            @Html.DisplayNameFor(model => model.Domicilio)
                                        </label>
                                        @Html.DisplayFor(model => model.Domicilio)
                                        <br />
                                        <label>
                                            @Html.DisplayNameFor(model => model.Profesion)
                                        </label>
                                            @Html.DisplayFor(model => model.Profesion)
                                        <br />
                                        <label>
                                            @Html.DisplayNameFor(model => model.ContactoEmergencia)
                                        </label>
                                            @Html.DisplayFor(model => model.ContactoEmergencia)
                                    </div>
                                </div>
                               
                                <div class="tab-pane fade" id="tab4default">
                                    <div class="col-md-8 table-responsive">
                                        <h3> </h3>
                                        <table class="table table-responsive table-bordered" style="min-height:300px;">

                                            <tr>
                                                <td>
                                                    @Html.DisplayNameFor(model => model.TratamientoMedico)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.TratamientoMedico)
                                                </td>
                                                <td>
                                                    @Html.DisplayNameFor(model => model.Medicamento)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.Medicamento)
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    @Html.DisplayNameFor(model => model.Diabetes)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.Diabetes)
                                                </td>
                                                <td>
                                                    @Html.DisplayNameFor(model => model.Artritis)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.Artritis)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>@Html.DisplayNameFor(model => model.EnfermedadCardiaca)</td>
                                                <td>@Html.DisplayFor(model => model.EnfermedadCardiaca)</td>
                                                <td>@Html.DisplayNameFor(model => model.Hepatitis)</td>
                                                <td>@Html.DisplayFor(model => model.Hepatitis)</td>
                                            </tr>


                                            <tr>
                                                <td>@Html.DisplayNameFor(model => model.FiebreReumatica)</td>
                                                <td>@Html.DisplayFor(model => model.FiebreReumatica)</td>
                                                <td>@Html.DisplayNameFor(model => model.Ulcera)</td>
                                                <td>@Html.DisplayFor(model => model.Ulcera)</td>
                                            </tr>
                                            <tr>
                                                <td>@Html.DisplayNameFor(model => model.PresionAlta)</td>
                                                <td>@Html.DisplayFor(model => model.PresionAlta)</td>
                                                <td>@Html.DisplayNameFor(model => model.PresionBaja)</td>
                                                <td>@Html.DisplayFor(model => model.PresionBaja)</td>
                                            </tr>
                                            <tr>
                                                <td>@Html.DisplayNameFor(model => model.EnfermedadesNerviosas)</td>
                                                <td>@Html.DisplayFor(model => model.EnfermedadesNerviosas)</td>
                                                <td>@Html.DisplayNameFor(model => model.OtrasEnfermedades)</td>
                                                <td>@Html.DisplayFor(model => model.OtrasEnfermedades)</td>
                                            </tr>
                                            <tr>
                                                <td>@Html.DisplayNameFor(model => model.SangradoProlongado)</td>
                                                <td>@Html.DisplayFor(model => model.SangradoProlongado)</td>
                                                <td>@Html.DisplayNameFor(model => model.Desmayos)</td>
                                                <td>@Html.DisplayFor(model => model.Desmayos)</td>
                                            </tr>

                                            <tr>
                                                <td>@Html.DisplayNameFor(model => model.IntervencionQuirurgica)</td>
                                                <td>@Html.DisplayFor(model => model.IntervencionQuirurgica)</td>
                                                <td>@Html.DisplayNameFor(model => model.Aspirina)</td>
                                                <td>@Html.DisplayFor(model => model.Aspirina)</td>
                                            </tr>

                                            <tr>
                                                <td>@Html.DisplayNameFor(model => model.Sulfas)</td>
                                                <td>@Html.DisplayFor(model => model.Sulfas)</td>
                                                <td>@Html.DisplayNameFor(model => model.Penicilina)</td>
                                                <td>@Html.DisplayFor(model => model.Penicilina)</td>
                                            </tr>
                                            <tr>
                                                <td>@Html.DisplayNameFor(model => model.AnomaliasAnestesia)</td>
                                                <td>@Html.DisplayFor(model => model.AnomaliasAnestesia)</td>
                                                <td>@Html.DisplayNameFor(model => model.Embarazo)</td>
                                                <td>@Html.DisplayFor(model => model.Embarazo)</td>
                                            </tr>
                                            <tr>
                                                <td>@Html.DisplayNameFor(model => model.Lactancia)</td>
                                                <td>@Html.DisplayFor(model => model.Lactancia)</td>
                                                <td>@Html.DisplayNameFor(model => model.Otros)</td>
                                                <td>@Html.DisplayFor(model => model.Otros)</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>




            </div>

           















        </div>
        <div class="panel-footer">
            <p>
                @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-warning glyphicon glyphicon-edit" })
                @Html.ActionLink("Volver al listado", "Index", null, new { @class = "btn btn-primary " })
            </p>
        </div>
    </div>
</div>
