@model RecApp_2.Models.Record

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Record</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenorEdad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenorEdad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreEncargado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEncargado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido1Encargado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido1Encargado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido2Encargado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido2Encargado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEstadoCivil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEstadoCivil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domicilio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactoEmergencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactoEmergencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TratamientoMedico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TratamientoMedico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diabetes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diabetes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artritis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artritis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnfermedadCardiaca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnfermedadCardiaca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hepatitis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hepatitis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiebreReumatica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiebreReumatica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ulcera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ulcera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresionAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresionAlta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresionBaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresionBaja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnfermedadesNerviosas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnfermedadesNerviosas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtrasEnfermedades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtrasEnfermedades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SangradoProlongado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SangradoProlongado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desmayos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desmayos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntervencionQuirurgica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntervencionQuirurgica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aspirina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aspirina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sulfas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sulfas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Penicilina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Penicilina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Otros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Otros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnomaliasAnestesia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnomaliasAnestesia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Embarazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Embarazo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lactancia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lactancia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
