@model IEnumerable<RecApp_2.Models.Record>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container col-md-12 center-block">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>Expedientes Clínicos</h2>
        </div>
        <div class="panel-body table-responsive">
            <p>
                @Html.ActionLink(" Nuevo registro ", "Create", null, new { @class = "btn btn-success glyphicon glyphicon-plus" })
            </p>
             @using (Html.BeginForm("Index", "Records", FormMethod.Get))
            {
                <div class="form-group">
                    <div class="col-md-6">
                        <span class="glyphicon glyphicon-search"></span> @Html.TextBox("search")
                        <input type="submit" value="Buscar por nombre" class="btn-custom-danger"/>
                       @* <input type="text" class="form-control" id="search" placeholder="Búsqueda por nombre" />*@
                    </div>
                </div>           
             }
          
            <table class="table table-responsive table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellido1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellido2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cedula)
                    </th>                  
                    <th>
                        @Html.DisplayNameFor(model => model.Domicilio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono2)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactoEmergencia)
                    </th>
                    <th></th>
                </tr>
                @*Si no se encuenta coincidencia en la búsqueda ,muestre el mensaje*@
                @if (Model.Count() == 0) 
                {
                    <tr>
                        <td colspan="10">Ningún registro coincide con la búsqueda</td>
                    </tr>
                }
                       
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cedula)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Domicilio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono2)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactoEmergencia)
                        </td>

                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "btn btn-warning glyphicon glyphicon-edit" })
                            @Html.ActionLink("Detalles", "Details", new { id = item.id }, new { @class = "btn btn-primary glyphicon glyphicon-plus" }) 
                           
                        </td>
                    </tr>
                }
                
            </table>
        </div>
    </div>
</div>
