@model IEnumerable<RecApp_2.Models.Payment>

<table class="table" id="PartialViewPayments">
    <tr>
        <th>
            N. Factura
        </th>
        <th>
            Fecha
        </th>
        <th>
            Costos adicionales
        </th>
        <th>
            Total a pagar
        </th>
        <th>
            Saldo
        </th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4">Ningún registro coincide con la búsqueda. Intente nuevamente.</td>
        </tr>
    }


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayName(item.Id.ToString())
            </td>
            <td>
                @Html.DisplayName(item.FechaRegistro.ToShortDateString())
            </td>
            <td>
                @string.Format("{0:C}", item.MontoAdicional)
            </td>
            <td>
                @string.Format("{0:C}", item.TotalPagar)
            </td>
            <td>
                @string.Format("{0:C}", item.Saldo)
            </td>

            <td>

                @if (item.Estado.Equals(1))
                {
                    <button class="btn btn-danger btn_d" type="button" value='@item.Id' data-toggle="modal" onclick="return buttonClickFacturar(this)">Facturar</button>
                    @*@Html.ActionLink("Anular", "Create", null, new { @class = "btn btn-warning", @style = "margin-right:5px; width:105px;" })*@
                    <button class="btn btn-primary btn_p" type="button" value='@item.Id' data-toggle="modal" onclick="return buttonClickDetalleFactura(this)" data-target="#verFactura">Ver Factura</button>
                }
                @*si ya está facturada que se pueda abonar a la factura o anularla*@
                else if (item.Estado.Equals(2))
                {
                    <button class="btn btn-success" type="button" value='@item.Id' data-toggle="modal" onclick="return buttonClickAbonarFactura(this)" data-target="#AbonarFactura">Abonar</button>
                    <button class="btn btn-warning btn_w" type="button" id="verAbonosInput" value='@item.Id' data-toggle="modal" onclick="return buttonClickDetalleAbonosPorFactura(this)">Ver Abonos</button>
                                                                <button class="btn btn-primary btn_p" type="button" id="verFacturaInput" value='@item.Id' data-toggle="modal" onclick="return buttonClickDetalleFactura(this)" data-target="#verFactura">Ver Factura</button>
                }
                else
                {
                    @*@Html.ActionLink("Anular", "Create", null, new { @class = "btn btn-warning", @style = "margin-right:5px; width:105px;" })*@

                    <button class="btn btn-warning btn_w" type="button" id="verAbonosInput" value='@item.Id' data-toggle="modal" onclick="return buttonClickDetalleAbonosPorFactura(this)">Ver Abonos</button>
                    <button class="btn btn-primary btn_p" type="button" id="verFacturaInput" value='@item.Id' data-toggle="modal" onclick="return buttonClickDetalleFactura(this)" data-target="#verFactura">Ver Factura</button>
                }
            </td>
        </tr>
    }


</table>

