@model RecApp_2.Models.Payment

<div>
    <h5>Detalle de Facturación</h5>
    <hr />
    <dl class="dl-horizontal table table-bordered">
        <dt>
            @Html.DisplayNameFor(model => model.IdRecord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdRecord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoAdicional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoAdicional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPagar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPagar)
        </dd>

    </dl>
</div>

